# --- Secrets & Environment ---
.env
!example.env

# --- Python & Django ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# --- Celery ---
celerybeat-schedule

# --- IDE & Editors ---
.idea/
.vscode/
*.swp
*.swo

# --- Specific Project Files ---
project.http
file.txt

# --- Data ---
data/*
!data/.gitkeep